@model TiempoEspera;

@{
    ViewData["Title"] = "Home Page";
    string tiempo = Model.Minutos;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido + @tiempo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
